@font-face {
	font-family: "Cairo";
	src: url("./assets/fonts/Cairo-VariableFont_slnt\,wght.ttf") format("truetype");
}
body,
html,
#root {
	width: 100%;
	min-height: 100%;
}
body {
	height: 100dvh;
	overflow-y: auto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cairo", sans-serif !important;
}
